/* styles for index.html */

h1 {
    font-family: "arial", sans-serif;
    background-color: green;
}

a {
    color: blue;
    font-weight: bold;
}

/*styles for recipes */

img {
    width: 500px;
    height: auto;
    margin: 8px auto;
}

.title {
    font-size: 36px;
    font-family: cursive;
}


ul, ol {
    text-align: left;
    margin: 8px auto;
    width: 500px;
}

p {
    text-align: left;
    margin: 8px auto;
    width: 500px;
}

.paper {
    border: 2px solid black;
    width: 600px;
    margin: 0px auto;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    background-color: antiquewhite
}